/db/                     @byeongokchoi
/server/routes/auth*     @byeongokchoi
/server/routes/tools*    @byeongokchoi
/server/routes/reviews*  @byeongokchoi
/client/pages/auth/      @byeongokchoi
/client/pages/directory/ @byeongokchoi
/client/pages/chatbot/   @Dodo-Jin
/server/routes/chat*     @Dodo-Jin
/server/routes/pipeline* @Dodo-Jin
/server/routes/library*  @Dodo-Jin
/client/pages/trend/     @jungwukc
/server/routes/trend*    @jungwukc
/server/routes/favorites* @jungwukc
